@font-face {
    font-family: 'LatoRegular';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato/latobold.woff2') format('woff2'), url('../fonts/lato/latobold.woff') format('woff'), url('../fonts/lato/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/circle/CirceRounded-Regular.eot');
    src: local('Circe Rounded'), local('CirceRounded-Regular'), url('../fonts/circle/CirceRounded-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/circle/CirceRounded-Regular.woff2') format('woff2'), url('../fonts/circle/CirceRounded-Regular.woff') format('woff'), url('../fonts/circle/CirceRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
